@use "mixins" as mixins;

.user-code {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;

    font-family: var(--code-font);
    font-size: 16px;
    background-color: var(--dark-color);

    border: none;
    outline: none;

    @include mixins.custom-scrollbar;
}

.user-code::placeholder {
    color: var(--dark-gray-color);
}

.run-button {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;

    color: var(--white-color);
    background-color: var(--dark-color);

    transition: var(--very-quick-transition);
}

.run-button:hover {
    transition: var(--very-quick-transition);
    background-color: var(--dark-light-color);
}
.run-button:active {
    transition: var(--very-quick-transition);
    transform: var(--small-shring);
}

.output-container {
    .code {
        pre {
            font-size: 16px;
            height: calc(100% + 100px);
            min-height: 24px;
            max-height: 500px;

            box-sizing: border-box;

            overflow: auto;
            white-space: pre;
            word-wrap: normal;

            background-color: var(--dark-color);

            @include mixins.custom-scrollbar;
        }
    }
}
