<div class="wrapper flex flex-col gap-6">
    <div class="flex w-full flex-col gap-2">
        <div class="flex w-full gap-4">
            <div>
                <p
                    class="no-select w-max pl-2 text-3xl font-black text-dark-gray"
                >
                    {{ this.programingLanguage() | programingLanguage }} console
                </p>
            </div>
            <div class="flex w-full flex-col gap-2">
                <button class="button run-button" (click)="executeCode()">
                    Run Code
                </button>
            </div>
        </div>

        <textarea
            class="code user-code"
            [(ngModel)]="userCode"
            placeholder="write your {{
                this.programingLanguage() | programingLanguage
            }} code here..."
            rows="10"
        >
        </textarea>
    </div>
    <div class="output-container flex w-full flex-col gap-2">
        <div>
            <p class="no-select text-lg font-black">output:</p>
        </div>
        <div class="code">
            @if (this.output && this.output.length > 0) {
                @for (line of output; track $index) {
                    <pre
                        class="p-2"
                        [class]="
                            line.type === 'error'
                                ? 'text-red-500'
                                : line.type === 'warn'
                                  ? 'text-yellow-500'
                                  : line.type === 'log'
                                    ? ''
                                    : ''
                        "
                        >{{ line.message }}</pre
                    >
                }
            } @else {
                <pre class="p-2">no output</pre>
            }
        </div>
    </div>
</div>
