<div class="wrapper flex flex-col gap-6">
    <div class="flex w-full flex-col gap-2">
        <div class="flex w-full gap-4">
            <div>
                <p
                    class="no-select w-max pl-2 text-3xl font-black text-dark-gray"
                >
                    {{ this.programingLanguage() | programingLanguage }} console
                </p>
            </div>
            <div class>
                <button
                    class="save-button flex items-center justify-center p-2"
                >
                    <div class="medium-icon">
                        <svg
                            class="text-gray-800 h-[28px] w-[28px] dark:text-white"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            fill="currentColor"
                            viewBox="0 0 24 24"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M5 3a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V7.414A2 2 0 0 0 20.414 6L18 3.586A2 2 0 0 0 16.586 3H5Zm10 11a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7V5h8v2a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1Z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </div>
                </button>
            </div>
            <div class="flex w-full flex-col gap-2">
                <button class="button run-button" (click)="executeCode()">
                    Run Code
                </button>
            </div>
        </div>

        <textarea
            class="code user-code"
            [(ngModel)]="userCode"
            placeholder="write your {{
                this.programingLanguage() | programingLanguage
            }} code here..."
            rows="10"
        >
        </textarea>
    </div>
    <div class="output-container flex w-full flex-col gap-2">
        <div>
            <p class="no-select text-lg font-black">output:</p>
        </div>
        <div class="code">
            @if (this.output && this.output.length > 0) {
                @for (line of output; track $index) {
                    <pre
                        class="p-2"
                        [class]="
                            line.type === 'error'
                                ? 'text-red-500'
                                : line.type === 'warn'
                                  ? 'text-yellow-500'
                                  : line.type === 'log'
                                    ? ''
                                    : ''
                        "
                        >{{ line.message }}</pre
                    >
                }
            } @else {
                <pre class="p-2">no output</pre>
            }
        </div>
    </div>
</div>
