@use "mixins" as mixins;

select, option {
    border: none;
    outline: none;
}

.save-button {
    background-color: var(--dark-color);

    div {
        svg {
            fill: var(--dark-gray-color);
        }
    }

    &:hover {
        div {
            svg {
                fill: var(--dark-gray-color);
            }
        }

        background-color: var(--dark-light-color);
    }

    &:active {
        div {
            svg {
                fill: var(--gray-color);
            }
        }

        background-color: var(--dark-light-color);
        transform: var(--small-shrink);
    }
}

.run-button {

    transition: var(--very-quick-transition);

    &:hover {
        transition: var(--very-quick-transition);
        background-color: var(--dark-light-color);
    }
    &:active {
        transition: var(--very-quick-transition);
        transform: var(--small-shrink);
    }
}

.user-code {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;

    font-family: var(--code-font);
    font-size: 16px;
    background-color: var(--dark-color);

    border: none;
    outline: none;

    @include mixins.custom-scrollbar;

    &::placeholder {
        color: var(--dark-gray-color);
    }
}

.output-container {
    .code {
        pre {
            font-size: 16px;
            height: calc(100% + 100px);
            min-height: 24px;
            max-height: 500px;

            box-sizing: border-box;

            overflow: auto;
            white-space: pre;
            word-wrap: normal;

            background-color: var(--dark-color);

            @include mixins.custom-scrollbar;
        }
    }
}
