<div class="flex h-12 backdrop-blur-sm bg-white/10">
    <div class="flex items-center p-6">
        <div class="">
            <p class="text-2xl font-black text-primary">
                logicLab
            </p>
        </div>
    </div>
    <div class="flex items-center p-6">
        <div class="flex w-full">
            <p class="w-full">JavaScript</p>
        </div>
    </div>
    <div class="flex items-center justify-end w-full p-6">
        <div class="flex">
            <div>
                <p>курси</p>
            </div>
            <div>
                <p>тести</p>
            </div>
        </div>
        <!-- <div class="flex">
            <div>

            </div>
        </div> -->
    </div>
</div>
