<div class="flex h-12 backdrop-blur-sm bg-white/10">
    <div class="flex items-center p-6">
        <div class="">
            <p class="text-2xl font-black text-primary">
                <a href="home">
                    logicLab
                </a>
            </p>
        </div>
    </div>
    <div class="flex items-center p-6">
        <div class="flex w-full">
            <p class="w-full">
                <a href="course/javascript">
                    JavaScript
                </a>
            </p>
        </div>
    </div>
    <div class="flex items-center justify-end w-full p-6">
        <div class="flex">
            <div class="p-6">
                <p>курси</p>
            </div>
            <div class="p-6">
                <p>тести</p>
            </div>
        </div>
    </div>
</div>
