@if (this.course() && this.course() !== null) {
  <div class="select flex w-full flex-col p-6">
    <div class="bottom-break-line relative flex w-full flex-col gap-2 pb-2">
      <h1 class="text-4xl font-black">{{ this.course()!.name }}</h1>
      <p class="text-lg">{{ this.course()!.description }}</p>
    </div>
    <div class="flex w-full flex-col gap-2">
      <app-course-lessons-list
        [courseHref]="this.course()!.href"
        [lessons]="this.course()!.lessons"
        [showDescription]="true"
      />
    </div>
  </div>
} @else {
  <div class="flex h-full w-full items-center justify-center py-[30vh]">
    <app-loading-spinner class="h-[50px] w-[50px]" />
  </div>
}
