@use 'mixins' as *;

.item {
    position: relative;
    a {
        .item-2 {
            container-type: inline-size;

            .description {
                display: initial;
            }
            @media (max-width: 500px) {
                .description {
                    display: none;
                }
            }
        }
    }
}

.item::before {
    @include gradient-underline;
}

.item:last-child::before {
    display: none;
}
