<div class="page">
    <div class="lesson">
        <app-lesson-content
            [courseHref]="this.courseHref()"
            [lessonHref]="this.lessonHref()"
        >
        </app-lesson-content>
    </div>
    <div
        class="comments hide-comments h-full w-full bg-dark/80 backdrop-blur-sm lg:w-[500px]"
    >
        <app-lesson-comments
            [lessonHref]="this.lessonHref()"
            (toggleVisibilityEvent)="this.toggleLessonComments($event)"
        >
        </app-lesson-comments>
    </div>
</div>
