<div>
    <div class="flex w-full flex-col gap-4 bg-dark px-12 py-8 sm:w-[500px]">
        <div>
            <p class="select-none text-xl font-black sm:text-2xl">
                Ввійдіть в свій аккаунт
            </p>
        </div>

        <form [formGroup]="loginForm" class="flex flex-col gap-2">
            <input
                class="w-full border-collapse select-none bg-black p-2 outline-none focus:outline-primary"
                type="text"
                formControlName="email"
                placeholder="Електронна пошта"
            />
            <input
                class="w-full border-collapse select-none bg-black p-2 outline-none focus:outline-primary"
                type="password"
                formControlName="password"
                placeholder="Пароль"
            />
            <button
                class="w-full select-none bg-primary p-2 font-black hover:bg-primary-light"
                type="button"
                (click)="logInUser()"
            >
                Увійти
            </button>
        </form>

        <div class="mt-4 flex flex-col gap-2">
            <a routerLink="/registration">
                <button
                    class="w-full select-none bg-black p-2 hover:bg-dark-light"
                >
                    Зареєструватися
                </button>
            </a>
            <!-- TODO: Implement??? -->
            <!-- <a routerLink="/forgot-password">
                <button
                    class="w-full select-none bg-black p-2 hover:bg-dark-light"
                >
                    Забули пароль?
                </button>
            </a> -->
        </div>
    </div>
</div>
