.p-0 {
    padding: 0 !important;
}

.m-0 {
    margin: 0 !important;
}

.page-wrapper {
    padding: 2rem 4rem;
}
@media screen and (max-width: 1024px) {
    .page-wrapper {
        padding: 1.5rem 2.5rem;
    }
}
@media screen and (max-width: 768px) {
    .page-wrapper {
        padding: 1rem 1.5rem;
    }
}



.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.no-select * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
.select * {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}



.truncate-1 {
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.truncate-2 {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.button-break-line {
    position: relative !important;
}
.bottom-break-line::before {
    content: '';
    display: block;
    position: absolute;

    bottom: 0px;
    left: 0;
    width: 100%;
    height: 2px;

    background: linear-gradient(
        to right,
        transparent,
        var(--dark-light-color) 5%,
        var(--dark-gray-color) 95%,
        transparent
    );
}

.medium-icon {
    box-sizing: border-box;

    width: 28px;
    height: 28px;

    img {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }
}

// non-interactable code blocks styling
.code, code{
    // background: var(--dark-color);

    page-break-inside: avoid;

    font-size: 15px;
    line-height: 1.6;
    word-wrap: break-word;

    display: block;
    width: 100%;
    max-width: 100%;
    overflow: auto;

    // padding: 1em 1.5em;
    margin: 0 !important;


    * {
        font-family: var(--code-font);
    }
}



//
