::selection {
    background: var(--primary-color);
    color: var(--white-color);
}

* {
    // outline: 1px red solid !important;

    color: var(--white-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    margin: 0;
    padding: 0;

    transition: var(--quick-transition);
}

html, body {
    margin: 0;
    padding: 0;
    background: var(--black-color);

    scrollbar-color: var(--dark-gray-color) var(--dark-color);
}
