<div class="wrapper">
    <div class="comments">
        @for (comment of this.comments(); track $index) {
            <div class="comment">
                <div class="user-info">
                    <p>{{ comment.userId }}</p>
                </div>
                <div class="comment-text">
                    {{ comment.text }}
                </div>
            </div>
        }
        @if (this.comments().length < 1 && this.loadingStatus === "resolved") {
            <div class="no-comments">No comments yet</div>
        }
    </div>
    <div class="actions">
        <textarea
            [(ngModel)]="newComment"
            placeholder="Write your comment here..."
            rows="2"
        ></textarea>
        <button (click)="this.postNewComment()">
            Post
        </button>
    </div>
</div>
