<div
    class="flex min-h-12 w-full select-none justify-between bg-dark/75 backdrop-blur-sm"
>
    <div class="box-border flex">
        <div class="box-border flex items-center p-4 pr-2 sm:pr-4">
            <a routerLink="/home">
                <h1
                    class="w-full text-2xl font-black text-primary hover:text-primary-light"
                >
                    logicLab
                </h1>
            </a>
        </div>
        <div
            class="courses-list box-border hidden items-center gap-4 p-4 sm:flex"
        >
            <div>
                <a routerLink="course/javascript">
                    <p
                        class="w-max text-lg font-black text-gray hover:text-white"
                    >
                        JavaScript
                    </p>
                </a>
            </div>
            <!-- <div>
                <a routerLink="course/typescript">
                    <p
                        class="w-max text-lg font-black text-gray hover:text-white"
                    >
                        TypeScript
                    </p>
                </a>
            </div> -->
        </div>
    </div>
    <div class="box-border flex items-center gap-2 p-4 pl-2 sm:pl-4 md:gap-4">
        <div class="box-border">
            <a routerLink="/code-space">
                <p class="font-black text-gray hover:text-white text-lg">
                    консоль
                </p>
            </a>
        </div>
        <div class="box-border">
            <a routerLink="/courses">
                <p class="font-black text-gray hover:text-white text-lg">
                    курси
                </p>
            </a>
        </div>
        <!-- <div class="box-border">
            <a routerLink="/tests">
                <p class="text-lg font-black text-gray hover:text-white">
                    тести
                </p>
            </a>
        </div> -->
        <div class="box-border">
            <a routerLink="/profile">
                <div class="medium-icon">
                    <svg
                        class="text-gray-800 h-[32px] w-[32px] dark:text-white"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        width="32"
                        height="32"
                        fill="currentColor"
                        viewBox="0 0 24 24"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z"
                            clip-rule="evenodd"
                        />
                    </svg>
                </div>
            </a>
        </div>
    </div>
</div>
