<div class="page-wrapper box-border flex flex-col gap-2">
    <div class="flex w-full gap-2">
        <div class="flex-shrink-0">
            <button
                class="flex aspect-square h-[40px] items-center justify-center bg-dark-light p-2"
                (click)="this.createNewEditor()"
            >
                <div class="plus-icon">
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </button>
        </div>
        <div class="tab-list flex flex-1 gap-2">
            @for (codespace of this.codeEdditors(); track $index) {
                <button
                    class="tab flex w-max gap-2 bg-dark-light p-2"
                    [class]="
                        this.activeEdditor() === codespace.name
                            ? 'active-tab'
                            : ''
                    "
                    (click)="this.activeEdditor.set(codespace.name)"
                >
                    <div>
                        <p class="no-select text-dark-gray">
                            {{ codespace.name }}
                        </p>
                    </div>
                    <button class="flex h-full items-center justify-center">
                        <div class="cross-icon">
                            <div class="line"></div>
                            <div class="line"></div>
                        </div>
                    </button>
                </button>
            }
        </div>
    </div>
    <div>
        <!-- EDDITORS, TRYING TO ADD ALL, FILTERING ON ONE ACTIVE TAB -->
        @for (codespace of this.codeEdditors(); track $index) {
            <app-console
                [programingLanguage]="'javascript'"
                [style.display]="
                    this.activeEdditor() === codespace.name ? 'block' : 'none'
                "
            ></app-console>
        }

        <!-- PLACEHOLDER IF THERE IS NOT ACTIVE EDDITOR -->
        @if (this.codeEdditors().length === 0 || !this.activeEdditor()) {
            <div
                class="g-2 flex h-96 w-full flex-col items-center justify-center"
            >
                <p class="text-3xl font-black text-gray">
                    Не обрано жодної консолі
                </p>
                @if (this.codeEdditors().length === 0) {
                    <p class="text-dark-gray">
                        натисніть на кнопку
                        <span class="font-black text-dark-gray">+</span> щоб
                        створити нову консоль
                    </p>
                } @else {
                    <p class="text-dark-gray">
                        натисніть на одну з відкритих вкладок зверху
                    </p>
                }
            </div>
        }
    </div>
</div>
