.highlighted {
    transition: var(--slow-transition);
    background-color: var(--dark-light-color) !important;
    animation: shrinkBounce 1s ease-in-out;
}

@keyframes shrinkBounce {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(1);
    }
    40% {
        transform: scale(0.9);
    }
    65% {
        transform: scale(1);
    }
    85% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.action-button {
    transition: var(--quick-transition);
    background-color: var(--dark-color);

    div {
        svg {
            fill: var(--dark-gray-color);
        }
    }

    &:hover {
        div {
            svg {
                fill: var(--dark-gray-color);
            }
        }

        background-color: var(--dark-light-color);
    }

    &:active {
        div {
            svg {
                fill: var(--gray-color);
            }
        }

        background-color: var(--dark-light-color);
        transform: var(--small-shrink);
    }
}

.tab-list {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    // &::-webkit-scrollbar {
    //     display: none;
    // }
    // scrollbar-width: none;
}

.active-tab {
    position: relative;
}

.active-tab::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 4px;
    background-color: var(--primary-color);
}

.plus-icon {
    $diameter: 14px;
    $stroke: 3px;

    position: relative;
    width: $diameter;
    height: $diameter;

    cursor: pointer;

    .line {
        position: absolute;
        top: calc(50% - $stroke / 2);

        width: $diameter;
        height: $stroke;
        background-color: var(--dark-gray-color);

        &:nth-child(2) {
            rotate: 90deg;
        }
    }

    &:hover {
        .line {
            background-color: var(--gray-color);
        }
    }
}

.cross-icon {
    $diameter: 14px;
    $stroke: 3px;

    position: relative;
    width: $diameter;
    height: $diameter;

    cursor: pointer;

    .line {
        position: absolute;
        top: calc(50% - $stroke / 2);

        width: $diameter;
        height: $stroke;
        background-color: var(--dark-gray-color);

        &:nth-child(1) {
            rotate: 45deg;
        }
        &:nth-child(2) {
            rotate: -45deg;
        }
    }

    &:hover {
        .line {
            background-color: var(--gray-color);
        }
    }
}
