.cross-icon {
    $diameter: 14px;
    $stroke: 3px;

    position: relative;
    width: $diameter;
    height: $diameter;

    .line {
        position: absolute;
        top: calc(50% - $stroke / 2);

        width: $diameter;
        height: $stroke;
        background-color: var(--dark-gray-color);

        &:nth-child(1) {
            rotate: 45deg;
        }
        &:nth-child(2) {
            rotate: -45deg;
        }
    }

    &:hover {
        cursor: pointer;
        .line {
            background-color: var(--gray-color);
        }
    }
}
