@if(this.lesson()) {
<div class="page-wrapper">
    <div class="w-full flex flex-col gap-2 mb-9 ">
        <p class="font-black text-4xl">{{ this.lesson()!.name }}</p>
        @if (this.lesson()!.description) {
        <p class=" text-gray">{{ this.lesson()!.description }}</p>
        }
    </div>
    <div class="content w-full flex flex-col gap-6">
        @for (item of this.lesson()!.content; track $index) {
        <div class="item">
            @switch (item.type) {
            @case ('plain-text') {
            <app-lesson-plain-text [object]="item"> </app-lesson-plain-text>
            } @case ('code-sample') {
            <app-lesson-code-sample [object]="item"> </app-lesson-code-sample>
            } @case ('list') {
            <app-lesson-list [object]="item"> </app-lesson-list>
            }
            }
        </div>
        }
    </div>
</div>
}


