<div class="wrapper w-full">
    @for (lesson of this.lessons(); track $index) {
    <div class="item p-2 box-border">
        <a [routerLink]="['/course', lesson.courseHref, lesson.href]">
            <div class="item-2 flex flex-justify-between">
                <div class="w-full h-full flex">
                    <div class="flex">
                        <p class="text-lg h-min hover:text-pure-white hover:underline">
                            {{ lesson.name }}
                        </p>
                    </div>
                </div>
                @if (this.showDescription()) {
                <div class="description w-full h-full">
                    <p class="text-sm truncate-2 text-gray">
                        {{ lesson.description }}
                    </p>
                </div>
                }
            </div>
        </a>
    </div>
    }
</div>
