<div class="wrapper">
    <textarea
        class="code user-code"
        [(ngModel)]="userCode"
        placeholder="write your JavaScript code here..."
        rows="10"
    >
    </textarea>
    <button
        class="button run-button"
        (click)="executeCode()"
        >
        Run Code
    </button>
    <div class="output-container">
        <div>
            <p>output:</p>
        </div>
        <div class="code">
            @if (this.output && this.output != '') {
            <pre>{{ this.output }}</pre>
            } @else {
            <pre>no output</pre>
            }
        </div>
    </div>
</div>
