@if(this.lesson()) {
<div class="wrapper">
    <div class="info">
        <p>{{ this.lesson().name }}</p>
        @if (this.lesson().description) {
        <p>{{ this.lesson().description }}</p>
        }
    </div>
    <div class="content">
        @for (item of this.lesson().content; track $index) {
        <div class="item">
            @if (item.type && item.type === 'plain_text') {
            <app-lesson-plain-text [object]="item.object">
            </app-lesson-plain-text>
            } @else if (item.type === 'code_sample') {
            <app-lesson-code-sample
            [code]="item.object"
            [programingLanguage]="'javascript'">
            </app-lesson-code-sample>
            }
        </div>
        }
    </div>
    <div>
    </div>
</div>
}
