@if (this.object()) {
    <div class="bg-dark">
        @if (
            this.object().object.title ||
            this.object().object.programmingLanguage
        ) {
            <div class="flex flex-col md:flex-row gap-5 justify-between p-1 py-3">
                <div class="flex-1">
                    @if (this.object().object.title) {
                        <div class="flex h-full w-full items-center">
                            <p class="pl-2">
                                {{ this.object().object.title }}
                            </p>
                        </div>
                    }
                </div>
                <div class="flex min-w-[200px] justify-between">
                    @if (this.object().object.programmingLanguage) {
                        <div
                            class="flex h-full w-full items-center justify-center"
                        >
                            <p class="text-gray">
                                {{ this.object().object.programmingLanguage }}
                            </p>
                        </div>
                    }
                    @if (this.isRunnable()) {
                        <div class="box-border h-full w-full">
                            <button
                                class="h-full w-full bg-primary p-2"
                                (click)="this.runInEdditor()"
                            >
                                запустити
                            </button>
                        </div>
                    }
                </div>
            </div>
        }
        <div class="code">
            <pre class="m-0">
            <code
            [highlight]="this.object().object.code || ''"
            [language]="this.object().object.programmingLanguage || 'xml'"
            ></code>
        </pre>
        </div>
        @if (this.object().object.codeOutput) {
            <div>
                <pre>
            <code>
            {{ this.object().object.codeOutput }}
            </code>
        </pre>
            </div>
        }
    </div>
}
