@if (this.object()) {
    <div class="bg-dark">
        @if (
            this.object().object.title ||
            this.object().object.programmingLanguage
        ) {
            <div class="justify-between flex p-1">
                <div class="flex-1">
                    @if (this.object().object.title) {
                        <p>{{ this.object().object.title }}</p>
                    }
                </div>
                <div class="w-[150px]">
                    @if (this.object().object.programmingLanguage) {
                        <div
                            class="flex h-full w-full items-center justify-end"
                        >
                            <p class="text-gray">
                                {{ this.object().object.programmingLanguage }}
                            </p>
                        </div>
                    }
                </div>
            </div>
        }
        <div class="code">
            <pre class="m-0">
            <code
            [highlight]="this.object().object.code || ''"
            [language]="this.object().object.programmingLanguage || 'xml'"
            ></code>
        </pre>
        </div>
        @if (this.object().object.codeOutput) {
            <div>
                <pre>
            <code>
            {{ this.object().object.codeOutput }}
            </code>
        </pre>
            </div>
        }
    </div>
}
