@if (this.object()) {
<div class="wrapper">
    @if (this.object().object.title || this.object().object.programmingLanguage) {
    <div class="top-bar flex justify-between">
        @if (this.object().object.title) {
        <div class="p-">
            <p>{{ this.object().object.title}}</p>
        </div>
        }
        @if (this.object().object.programmingLanguage) {
        <div class="language">
            <p>{{ this.object().object.programmingLanguage | programingLanguage }}</p>
        </div>
        }
    </div>
    }
    <div class="code">
        <pre class="m-0">
            <code
            [highlight]="this.object().object.code || ''"
            [language]="this.object().object.programmingLanguage || 'xml'"
            ></code>
        </pre>
    </div>
    @if(this.object().object.codeOutput) {
    <div>
        <pre>
            <code>
            {{ this.object().object.codeOutput }}
            </code>
        </pre>
    </div>
    }
</div>
}
